@import "colors.css";
/*@import "mode.css";*/
#custom-menu, #custom-cava_mviz ,#backlight, #battery, #cpu, #disk, #idle_inhibitor, #keyboard-state, #powernc, #custom-powernc,
#pulseaudio, #clock, #tags, #language, #memory, #network, #sndio,
#hyprland-window, #mode, #window, #workspaces, #temperature, #taskbar, #workspaces,
#custom-treefetch-downloads, #custom-update-count, #custom-axyl-downloads,
#custom-gpu-temp, #custom-artix, #custom-cpubars, #custom-nettrf, #custom-showmode,#custom-nowplaying{
  background-color: #E2E3E3;
  color: @foreground;
  font-size: 16px;
}

* {
/* font-family: "ttf ubuntu font family"; */
   font-family: "UbuntuMono Nerd";
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
  
/*  
"UbuntuMono Nerd"   */
}


window#waybar { 
  background-color: #E2E3E3;
   color: @color0;   
  font-size: 16px;
}


.modules-left {
  background-color: @color0;
  margin: 0px 8px 0px 8px;
    font-size: 16px;

   margin: 0;    
}



.modules-right {
   background-color: @color0; /*@color1;*/ 

  margin: 0px 5px 0px 5px;
     font-size: 16px;
     

  margin: 0;    
     
}










/* ############################## workspace #################### */


#workspaces {
   background-color: transparent;
   font-size: 16px;
}

#workspaces button {
  font-size: 16px;
  padding: 0px 6px 0px 6px; 
  min-width: 1px;
  color: #E2E3E3;
}


#workspaces button.visible {
  font-size: 16px;
  padding: 0px 6px 0px 6px; 
  min-width: 1px;
  color: #ea6962;
}


#workspaces button.focused { 
  font-size: 16px;
  padding: 0px 6px 0px 6px; 
  background-color: #E2E3E3; 
  color: #E2E3E3;    
}


#workspaces button.active {
  font-size: 16px;
  padding: 0px 6px 0px 6px; 
  color: #000000;    
  background-color: #E2E3E3; 
border-radius: 0px;
}













/* ######################################################################################################################################################################*/
/* ######################################################################################################################################################################*/
/* ######################################################################################################################################################################*/
#custom-menu,
#bluetooth, 
#backlight,
#custom-hyprsunset {
 margin: 0px 8px 0px 8px;
 background-color: transparent;
}


/*#custom-cava_mviz */

#custom-powernc,
#clock,
#memory,
#cpu,
#network,
#pulseaudio,
#battery
 {
 margin: 0px 5px 0px 5px;
 background-color: transparent;
}

 #tray {
  margin: 0px 0px 0px 0px;

 background-color: #1C1C1C;
}


#custom-powernc {
  color: #9891ca;  

}

#clock {
  color: #E2E3E3;  

}


#memory {
  color: #E2E3E3;  

}

#cpu {
  color: #E2E3E3;  

}


#network { 
  color: #E2E3E3;  


}

#pulseaudio { 
  color: #E2E3E3;

}

#backlight {
  color: #499dd7;  
   
}

#battery {
  color: #E2E3E3;

}

#bluetooth  {
  color: #499dd7;   
   background-color: #E2E3E3;
}

#custom-hyprsunset  {
   color: #499dd7;   
}


#window { 
  color: #1C1C1C;
 background-color: #E2E3E3;
}


#custom-cava_mviz {
      color: #f5c2e7;
 margin: 0px 8px 0px 8px;
 font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
   min-height: 0;
  

}  


#custom-menu {
  color: #E2E3E3;   
 margin: 0px 6px 0px 0px;
   font-size: 14px;


}


























