@import "colors.css";

* {
/* font-family: "JetBrainsMono Nerd Font"; */
font-family: "UbuntuMono Nerd"; 
font-weight: bold;
min-height: 0;
}


window#waybar {
  transition-duration: 0.5s;
  background:  @background;
  border-radius: 12px;
}



.modules-left {
  margin: 0px 8px 0px 8px;
 /*   font-size: 12px; */
 
}



.modules-right {
  margin: 0px 5px 0px 5px;
/*     font-size: 12px; */
}



/****************  workspaces style **************/ 


#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	border-radius: 10px;
	color: @overlay0;
	background-color: @surface0;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}


#workspaces button.persistent {
	color: @surface1;
	border-radius: 10px;
}


#workspaces button.active {
	color: @teal;
  	border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
	color: @red;
 	border-radius: 0px;
}

#taskbar button.active {
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/***************  modules styles  ********* */


#custom-swaync,
#tray,
#cpu,
#memory

{
 margin: 10px 5px 10px 5px;
color: @teal;

}


#clock,
#battery 
{
 margin: 10px 0px 10px 0px;
color: @teal;
}




#pulseaudio-slider {
    margin-top: 6px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 80px;
    min-width: 5px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 5px;
    border: 1px solid @text;
    border-radius: 5px;
    background-color: @text;
}
